In [1]:
import pandas as pd
import pyarrow.parquet as pq
pd.__version__

'1.5.3'

In [50]:
#! pip install psycopg2-binary

In [51]:
from sqlalchemy import create_engine

In [52]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [53]:
engine.connect()

In [54]:
query = """SELECT 1 as number;"""

pd.read_sql(query, con=engine)

   number
0       1

In [55]:
query = """SELECT * 
        FROM pg_catalog.pg_tables
        WHERE schemaname != 'pg_catalog' AND
            schemaname != 'information_schema';"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False

In [28]:
df = pd.read_parquet('yellow_tripdata_2023-01.parquet')

In [61]:
df.shape

(3066766, 19)

In [30]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [31]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [41]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [3]:
import pyarrow.parquet as pq

parquet_file = pq.ParquetFile('yellow_tripdata_2023-01.parquet')
parquet_file.schema
# for batch in parquet_file.iter_batches(batch_size=100000):
#     print("RecordBatch")
#     batch_df = batch.to_pandas()
#     print("batch_df:", batch_df)

<pyarrow._parquet.ParquetSchema object at 0x7f2755f76e80>
required group field_id=-1 schema {
  optional int64 field_id=-1 VendorID;
  optional int64 field_id=-1 tpep_pickup_datetime (Timestamp(isAdjustedToUTC=false, timeUnit=microseconds, is_from_converted_type=false, force_set_converted_type=false));
  optional int64 field_id=-1 tpep_dropoff_datetime (Timestamp(isAdjustedToUTC=false, timeUnit=microseconds, is_from_converted_type=false, force_set_converted_type=false));
  optional double field_id=-1 passenger_count;
  optional double field_id=-1 trip_distance;
  optional double field_id=-1 RatecodeID;
  optional binary field_id=-1 store_and_fwd_flag (String);
  optional int64 field_id=-1 PULocationID;
  optional int64 field_id=-1 DOLocationID;
  optional int64 field_id=-1 payment_type;
  optional double field_id=-1 fare_amount;
  optional double field_id=-1 extra;
  optional double field_id=-1 mta_tax;
  optional double field_id=-1 tip_amount;
  optional double field_id=-1 tolls_amount;
  optional double field_id=-1 improvement_surcharge;
  optional double field_id=-1 total_amount;
  optional double field_id=-1 congestion_surcharge;
  optional double field_id=-1 airport_fee;
}

0

In [47]:
# batch_df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

766

In [59]:
from time import time

df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

parquet_file = pq.ParquetFile('yellow_tripdata_2023-01.parquet')

for batch in parquet_file.iter_batches(batch_size=100000):
    t_start = time()
    
    print("RecordBatch")
    batch_df = batch.to_pandas()
    batch_df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    print("inserted another batch, took %.3f second:"% (t_end - t_start))

RecordBatch
inserted another batch, took 8.800 second:
RecordBatch
inserted another batch, took 8.047 second:
RecordBatch
inserted another batch, took 8.773 second:
RecordBatch
inserted another batch, took 7.985 second:
RecordBatch
inserted another batch, took 8.424 second:
RecordBatch
inserted another batch, took 8.771 second:
RecordBatch
inserted another batch, took 8.080 second:
RecordBatch
inserted another batch, took 8.699 second:
RecordBatch
inserted another batch, took 8.015 second:
RecordBatch
inserted another batch, took 8.432 second:
RecordBatch
inserted another batch, took 8.724 second:
RecordBatch
inserted another batch, took 8.079 second:
RecordBatch
inserted another batch, took 8.730 second:
RecordBatch
inserted another batch, took 8.172 second:
RecordBatch
inserted another batch, took 8.354 second:
RecordBatch
inserted another batch, took 8.633 second:
RecordBatch
inserted another batch, took 8.047 second:
RecordBatch
inserted another batch, took 8.579 second:
RecordBatch
inserted another batch, took 8.419 second:
RecordBatch
inserted another batch, took 8.029 second:
RecordBatch
inserted another batch, took 8.495 second:
RecordBatch
inserted another batch, took 8.252 second:
RecordBatch
inserted another batch, took 8.674 second:
RecordBatch
inserted another batch, took 8.411 second:
RecordBatch
inserted another batch, took 8.027 second:
RecordBatch
inserted another batch, took 8.279 second:
RecordBatch
inserted another batch, took 8.628 second:
RecordBatch
inserted another batch, took 8.133 second:
RecordBatch
inserted another batch, took 8.355 second:
RecordBatch
inserted another batch, took 8.745 second:
RecordBatch
inserted another batch, took 4.637 second:

In [60]:
parquet_file.num_row_groups

1